<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buscar</title>
    <link rel="StyleSheet" href="css/estilos.css" />
  </head>
  <body>
    <header class="cabecera">
      <h1>A.BLOGS_Buscar</h1>
    </header>

    <div class="agrupar">
      <aside class="columna">
        <img src="img/buscar.png" />
        <div>
          <a href="index.html">Página Principal</a>
        </div>
        <br />
        <div>
          <a href="http://google.com">Cambiar Contraseña</a>
        </div>
        <br />
        <div>
          <a href="http://facebook.com">Cerrar Sesión</a>
        </div>
        <br /><br /><br /><br /><br /><br /><br /><br /><br />
      </aside>

      <section class="seccion">
        <header>
          <h1 class="cabeceraContenido">Buscar Blog</h1>
        </header>
        
        <div>
          <input
            type="text"
            placeholder="Ingrese palabra clave"
            class="palabraClave"
          />
        </div>
        <div>
          <h5>Desde</h5>
          <input type="date" />
          <H5>Hasta</H5>
          <input type="date" />
        </div>
        <div class="Botones">
          <br>
          <input type="button" value="Buscar" id="boton1" />
        </div>
      </section>
    </div>
  </body>
</html>
