<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="StyleSheet" href="../static/css/site.css" />
    <title>Principal</title>
  </head>
  <body>
    <div class="container">
      <div class="mainTable">
        <div class="leftPanel">
          <img src="../static/img/logoprincipal.png" />
          <br />
          <a href="index.html">P&aacutegina Principal</a>
          <br />
          <a href="cambiarContrasena">Cambio de Contrase&ntildea</a>
          <br />
          <a href="#">Cerrar Sesion</a>
          <br />
        </div>

        <div class="rightPanel">
          <table width="100%">
            <tr>
              <td class="tdLeft">
                <a class="buttonLink" href="crearBlog"
                  >Crear un Nuevo Blog</a
                >
              </td>
              <td class="tdRight"><img src="../static/img/botonCrear.png" /></td>
            </tr>
            <tr>
              <td class="tdLeft">
                <a class="buttonLink" href="MisRegistros.html">Mis Blogs</a>
              </td>
              <td class="tdRight"><img src="../static/img/botonMisBlogs.png" /></td>
            </tr>
            <tr>
              <td class="tdLeft">
                <a class="buttonLink" href="Buscar.html">Buscar</a>
              </td>
              <td class="tdRight">
                <img id="logoBuscar" src="../static/img/buscar.png" />
              </td>
            </tr>
          </table>
          <br />
        </div>
      </div>
    </div>
  </body>
</html>
