<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Actualizar</title>
    <link rel="StyleSheet" href="css/estilos.css" />
  </head>
  <body>
    <header class="cabecera">
      <h1>Mostrar Blog</h1>
    </header>

    <div class="agrupar">
      <aside class="columna">
        <img src="img/ojored.png" />
        <div>
          <a href="http://google.com">Cambiar Contraseña</a>
        </div>
        <br />
        <div>
          <a href="http://facebook.com">Cerrar Sesión</a>
        </div>
        <br /><br /><br /><br /><br /><br /><br /><br /><br />
      </aside>

      <section class="seccion">
        <div></div>
        <h1>Titulo del blog</h1>
        <h2>Contenido del blog</h2>
        <br />

        <h2>Creado por:</h2>
        <h2>Comentarios</h2>

        <div class="Botones">
          <input type="button" value="Añadir comentario" id="boton1" />
        </div>
      </section>
    </div>
  </body>
</html>
